<template>
    <div class="hero-screen"></div>
    <div class="main-body">
        
        <div class="container">
            <div class="buttons">
                <div class="row align-items-center mt-3">
                    <div class="col-auto">
                        <h4><b>Our Products</b></h4>
                    </div>
                    <div class="col-auto ml-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><input type="checkbox" name="music" id="music" @click="!(filters.music)"><label for="music">Music</label></li>
                                <li><input type="checkbox" name="garments" id="garments" @click="!(filters.garments)"><label for="garments">Clothing</label></li>
                                <li><input type="checkbox" name="accessories" id="accessories" @click="!(filters.accessories)"><label for="accessories">Accessories</label></li>
                                <li><input type="checkbox" name="foot" id="foot" @click="!(filters.foot)"><label for="foot">Footware</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div v-for='prod in product' :key='prod.id' class="col-3 p-2" >
                    <div class="card">
                        <img :src='prod.prodImgUrl' alt="">
                        <h5>{{ prod.prodName }}</h5>
                        <p>{{ prod.prodPrice }}</p>
                    </div>
                </div>
            </div>
            <!-- {{product.prodName}} -->
        </div>
    </div>
</template>

<script>
export default {
    name: 'Body',
    data() {
        return{
            filters : [
                { music : false },
                { garments : false },
                { accessories : false },
                { foot : false }
            ],
            product : [
                {
                    id : 1,
                    prodName : 'Fender Stratocastor (Red)',
                    prodPrice : 'Rs. 14,000',
                    prodCategory : 'Music',
                    prodImgUrl : 'https://www.stgd.ch/1784-large_default/st-80-ma-electric-guitar-fiesta-red-prodipe-guitars-jmfst80mafr.jpg'
                },
                {
                    id : 2,
                    prodName : 'Ibanez AZ Prestige (Green)',
                    prodPrice : 'Rs. 14,000',
                    prodCategory : 'Music',
                    prodImgUrl : 'https://images.reverb.com/image/upload/s--QNi4qCqv--/f_auto,t_supersize/v1584471593/eglb2cqm0eexrj3mqiqo.jpg'
                },
                {
                    id : 3,
                    prodName : "Fender Classic Vibes 70's (Blue)",
                    prodPrice : 'Rs. 14,000',
                    prodCategory : 'Music',
                    prodImgUrl : 'https://images.reverb.com/image/upload/s--cOanpE3U--/a_exif,c_limit,e_unsharp_mask:80,f_auto,fl_progressive,g_south,h_1600,q_80,w_1600/v1532112943/akv68erm3sijmipt1apw.jpg'
                },
                {
                    id : 4,
                    prodName : 'Ibanez AZS Prestige (Black)',
                    prodPrice : 'Rs. 14,000',
                    prodCategory : 'Music',
                    prodImgUrl : 'https://sbsav.co.uk/shop/114677-thickbox_default/chord-cal63x-guitar-matte-black.jpg'
                },
                {
                    id : 5,
                    prodName : 'Gold Embroidery Napoleon Jacket',
                    prodPrice : 'Rs. 6,000',
                    prodCategory : 'garments',
                    prodImgUrl : 'https://d2fzf9bbqh0om5.cloudfront.net/images/424762/search/runway-lux-gold-embroidery-napoleon-jacket-jackets.jpg?1549442321'
                },
                {
                    id : 6,
                    prodName : 'Angel Wing Gothic Varsity Jacket',
                    prodPrice : 'Rs. 3,000',
                    prodCategory : 'garments',
                    prodImgUrl : 'https://d2fzf9bbqh0om5.cloudfront.net/images/424283/main/angel-wing-gothic-varsity-jacket-jackets.jpg?1549492277'
                },
                {
                    id : 7,
                    prodName : 'Deadpool Slim Leather Jacket 64',
                    prodPrice : 'Rs. 9,000',
                    prodCategory : 'garments',
                    prodImgUrl : 'https://d2fzf9bbqh0om5.cloudfront.net/images/341358/main/black-and-red-contrast-futuristic-slim-leather-jacket-64-jackets.jpg?1549763548'
                },
                {
                    id : 8,
                    prodName : 'Classic Black Biker Jacket',
                    prodPrice : 'Rs. 7,000',
                    prodCategory : 'garments',
                    prodImgUrl : 'https://d2fzf9bbqh0om5.cloudfront.net/images/543502/main/rebelsmarket_men_black_detachable_fabric_hooded_leather_jacket_biker_leather_jacket_men_hoodies_and_sweatshirts_6.jpg?1511412068'
                },
                {
                    id : 9,
                    prodName : 'Set of 5 Guitar Pluctrums',
                    prodPrice : 'Rs. 250',
                    prodCategory : 'accessories',
                    prodImgUrl : 'https://lh3.googleusercontent.com/proxy/LGZ2ls694JxBwAFkbiy1JUGh1iUJyR9NWf-Otr5fAVsThwuUphKp9XxiKfEo4YiZarDoeiZBIsFbWdbZnoorIrTVrVqKsoLfgbPhpxe9a6o_ZCHNcIR3OImXiP4wvbDla5Gdkg'
                },
                {
                    id : 10,
                    prodName : 'Chinese Guitar Shoulder Strap',
                    prodPrice : 'Rs. 500',
                    prodCategory : 'accessories',
                    prodImgUrl : 'https://image.made-in-china.com/202f0j00yhufcCAKGdko/Cheap-Price-Chinese-Guitar-Accessories-Guitar-Shoulder-Strap.jpg'
                },
                {
                    id : 11,
                    prodName : 'Metallic Guitar Fret Capo',
                    prodPrice : 'Rs. 500',
                    prodCategory : 'accessories',
                    prodImgUrl : 'https://rukminim1.flixcart.com/image/352/352/k9bo9e80/guitar-capo/m/2/t/guitar-capo-best-quality-227-quinergys-original-imafr4g3aerygjya.jpeg?q=70'
                },
                {
                    id : 12,
                    prodName : 'Automatic Digital Guitar Tuner',
                    prodPrice : 'Rs. 500',
                    prodCategory : 'accessories',
                    prodImgUrl : 'https://www.technobuffalo.com/sites/technobuffalo.com/files/field/image/2020/03/kliq-guitar-tuner-render.jpg?itok=eXCbisp5'
                },
                {
                    id : 13,
                    prodName : 'Nike Jordan MA2',
                    prodPrice : 'Rs. 10,000',
                    prodCategory : 'foot',
                    prodImgUrl : 'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b3d843c9-3b00-4d52-ac78-b83913fda1c4/jordan-ma2-shoe-qw1Z6m.jpg'
                },
                {
                    id : 14,
                    prodName : 'Air Jordan XXXV',
                    prodPrice : 'Rs. 10,000',
                    prodCategory : 'foot',
                    prodImgUrl : 'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/e31f0c28-e309-4613-b54d-f7f16cdd0610/air-jordan-xxxv-basketball-shoe-0l5NqD.jpg'
                },
                {
                    id : 15,
                    prodName : 'Jordan Break',
                    prodPrice : 'Rs. 1,000',
                    prodCategory : 'foot',
                    prodImgUrl : 'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/365df9d3-23db-49b2-a750-c7725e127dbc/jordan-break-slide-QmwKlG.jpg'
                },
                {
                    id : 16,
                    prodName : 'Jordan Why Not?',
                    prodPrice : 'Rs. 1,000',
                    prodCategory : 'foot',
                    prodImgUrl : 'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/1f9e9d4a-8c60-4a07-b6bc-f7543a515a8e/jordan-why-not-zer04-family-pf-basketball-shoe-0bpnfr.jpg'
                },
            ]
        }
    }
}

</script>

<style scoped>
    .hero-screen{
        background: url("../assets/Hero.jpg") 0 0 no-repeat;
        background-size: cover;
        height: 40vh;
    }
    .main-body{
        width: 1400px;
        margin: 0 auto;
    }
    .cards{
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        /* width: 19%; */
        height: auto;
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.1);
        margin: 10px 10px;
        cursor: pointer;
    }
    .card:hover {
        opacity : 70%;
    }
    .card p{
        font-size: 12px
    }
    .card img{
        height: 187px;
    }
    .main-body button{
        /* margin: 20px 0 0 0px; */
        color: #2c3e50;
        border: 2px solid #2c3e50;
        padding: 10px 30px;
        border-radius: 5px;
        background: transparent;
        font-weight: 600;
        cursor: pointer;
    }
    /* .buttons{
        display: flex;
        justify-content: flex-end;
    } */
    .buttons h4{
        margin: 0
    }
    .dropdown ul li{
        padding: 5px;
    }
    .dropdown ul li label {
        padding-left: 5px;
        margin: 0;
    }
</style>
