<template>
    <div class="app-header">
        <h2>Products Web Portal</h2>
    </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style scoped>
    .app-header{
        background: #e2e2e2;
        padding: 5px 200px;
        text-align: center;
        background: url("../assets/images.jpg") 0 0 no-repeat;
        background-size: cover;
        color: #fff
    }
</style>