<template>
  <Header />
  <Body />
</template>

<script>
import Header from './components/Header'
import Body from './components/Body'

export default {
  name: 'App',
  components: {
    Header,
    Body
  }
}
</script>

<style>
body{
  margin: 0;
  background: #e2e2e2;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  /* margin-top: 60px; */
}
</style>
